.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#main {
  flex-grow: 1;
  min-height: 100vh;
  min-width: 700px;
  background-color: cornflowerblue;
}
#content {
  flex-grow: 1;
  min-height: 100vh;
  background-color: crimson;
  display: flex;
  flex-wrap: wrap;
}

#about, #projects {
  flex-grow: 1;
  min-width: 400px;
  height: 100vh;
}

#about {background-color: yellow;}
#projects {background-color: teal;}
