.container {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr;
  grid-template-areas: 
    "main about project-summary"
    "main about project-1"
    "main project-2 project-3";
}

/* background colours */
#main {
  grid-area: main;
  background-color: #00354b;
}
#about {
  grid-area: about;
  background-color: #3b5a6b;
}
#project-summary {
  grid-area: project-summary;
  background-color: #f7cf91;
}
.project {background-color: #efefef;}
#project-1 {grid-area: project-1;}
#project-2 {grid-area: project-2;}
#project-3 {grid-area: project-3;}


@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-template-areas:
      "main"
      "project-summary"
      "project-1"
      "project-2"
      "project-3"
      "about"
  }
}